@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$color-text: white;
$bp-mobile: 768px;

.description-container {
    width: 100%;
    height: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 80%;
    text-align: justify;
    color: $color-text;
    font-size: 30px;
    line-height: 1.5;
    text-indent: 3rem;

    @media (width < $bp-mobile) {
        width: 90%;
        font-size: 18px;
        line-height: 1.4;
        text-indent: 1.5rem;
    }
}