.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
    background: white;
    max-height: 50px;
    z-index: 1000;
    padding: 0 10px;
    box-sizing: border-box;

    .copyright {
        flex: 1;
        margin-left: 10px;
        text-align: left;
        font-size: 14px;
        color: #333;
    }

    .social-icons {
        flex: 0 0 auto;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .social-icon {
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin: 0px 5px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .imgAutor {
        padding-left: 5px;
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    @media (max-width: 767px) {
        .copyright {
            padding-left: 0px;
        }

        .social-icons {
            .social-icon {
                width: 20px;
                height: 20px;
            }
        }

        .imgAutor {
            padding-left: 5px;
            width: 20px;
            height: 20px;
        }
    }

    .social-btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}