@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$accent: hsl(186 100% 69%);
$mobile: 768px;

/*LAYOUT*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
}

.loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: $accent;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
}

.imgAutor-1 {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
    aspect-ratio: 1083 / 609;

    @media (width >=$mobile) {
        margin-top: 35px;
    }
}

#gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}