<!--falta por implementar correctamente (creo que está integrado en
.tsx)-->
<div id="init" class="container" *ngIf="!isLoading">
  <div class="left-content">
    <img class="imgAutor-1" alt="Logo" src="assets/images/portada.png" />
  </div>
  <img *ngIf="false" class="imgAutor-2" id="imgAutor-2" alt="Logo" src="assets/images/logo.gif" />
  <div class="description-container">
    <div id="newsletter" class="description" [innerHTML]="description"></div>
    <iframe title="''" id="photos" *ngIf="videovisible" class="youtube-container" [src]="videourl" frameborder="0"
      allowfullscreen></iframe>
  </div>
  <div id="gallery" class="slider">
    <button class="prev" (click)="prevSlide()">&lt;</button>
    <img [src]="images[currentIndex]" alt="Slider Image" />
    <button class="next" (click)="nextSlide()">&gt;</button>
  </div>
  <div id="contact" class="contactame">
    <button class="glowing-btn" (click)="enviarMail()">
      <span *ngIf="!isFirefox" class="glowing-text">
        ¿Hab<span class="faulty-letter">la<span class="faulty-letter"></span>mo</span>s? <span
          class="faulty-letter"><mat-icon>mail</mat-icon></span>
      </span>
      <span *ngIf="isFirefox && !textoCopiado" class="glowing-text">
        Copi<span class="faulty-letter">ar<span class="faulty-letter"></span> e-mail</span>
        al port<span class="faulty-letter">apapeles</span>
      </span>
      <span *ngIf="textoCopiado" class="glowing-text">
        Copi<span class="faulty-letter">ado<span class="faulty-letter"></span>e-mail</span>
        al port<span class="faulty-letter">apapeles con éxito</span>
      </span>
    </button>
  </div>
</div>