@import url("https://fonts.googleapis.com/css?family=Raleway");

.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    margin-top: 0;
    min-height: 100vh;
}

.loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: hsl(186 100% 69%);
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
}

.left-content {
    @media (max-width: 767px) {
        width: 30%;
    }

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.description-container {
    width: 100%;
    height: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 80%;
    text-align: justify;
    color: white;
    font-size: 25px;
    line-height: 1.5;
    text-indent: 3rem;

    @media (max-width: 767px) {
        text-indent: 1.5rem;

    }
}

.youtube-container {
    width: 80%;
    aspect-ratio: 16 / 9;
    margin-top: 20px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    @media (max-width: 767px) {
        width: 90%;
    }
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
    background-color: black;
    margin-top: 5rem;
}

.imgAutor-1 {
    margin-top: 20px;
    width: 100%;

    @media (min-width: 767px) {
        margin-top: 35px;
    }
}

.imgAutor-2 {
    width: 100%;

    @media (min-width: 767px) {
        width: 50%;
    }
}

.contactame {
    width: 75%;
    padding-bottom: 110px;
    background-color: black;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .left-content,
    .description {
        width: 90%;
        text-align: justify !important;
        color: white;
        font-size: 18px;
        line-height: 1;
    }

    .slider {
        margin-bottom: 23px;
    }

    .imgAutor-1 {
        width: 150%;

        @media (max-width: 767px) {
            max-width: 375px;
        }
    }
}

//Slider.
.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img {
        width: 60%;
        height: 60%;

        @media (max-width: 767px) {
            height: 400px;
            width: 90%;
            margin-bottom: 2rem;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 10;
        transition: background-color 0.3s;

        &:hover {
            background-color: hsl(186 100% 69%);
            color: black;
        }
    }

    .prev {
        left: 15%;

        @media (max-width: 767px) {
            left: 5%;
        }
    }

    .next {
        right: 15%;

        @media (max-width: 767px) {
            right: 5%;
        }
    }
}

//Contact button.
.glowing-btn {
    position: relative;
    color: hsl(186 100% 69%);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid hsl(186 100% 69%);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;

    @media (max-width: 767px) {
        font-weight: 150;
    }

    @media (max-width: 767px) {
        letter-spacing: 0.1em;
    }

    -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
    -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
    box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em hsl(186 100% 69%);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em hsl(186 100% 69%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(186 100% 69%);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
    display: inline-block;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: hsl(186 100% 69%);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: hsl(186 100% 69%);
    box-shadow: 0 0 2em 0.2em hsl(186 100% 69%);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}